# GCP
google-cloud-storage
google-cloud-run
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2

# LLM
google-cloud-aiplatform
openai

# PDF & Text
PyMuPDF
reportlab

# Config
pydantic-settings
